@import url('recursos/fonts/fonts.css');


:root{
    --cor-tela: rgba( 0, 0, 0, .5);
    --cor-00: #000000;
    --cor-00: #000000;
    --cor-00: #000000;

    --font-titulo: 'Landster', Verdana, sans-serif;
    --font-texto:;

}


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
}


html, body{
    min-height: 100vh;
    display: flex;
}


body{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    font-family: var(--font-texto);
    flex-direction: column;
}


header, footer{
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}


header{
    background: linear-gradient(to bottom, var(--cor-00), var(--cor-00));
    color: white;
    height: 200px;
}


header div{
    width: 80%;
    height: auto;
    margin: 0 auto;
}


header h1{
    padding-top: 5vh;
    font-variant: small-caps;
    font-family: var(--font-titulo);
}


header p{
    padding: 5px 0 5px 0;
}


header a{
    color: var();
}


header a:hover{
    color: var();
    text-decoration: underline;
}


section{
    width: 100%;
    line-height: 2em;
    padding: 6vh 0;
    display: flex;
}


section > div{
    width: 83.5%;
    margin: 0 auto;
}


p{
    padding: 3.5%;
}


section.folha{
    background-color: aliceblue;
    color: var();

}


section:not(.folha){
    box-shadow: inset 0px 0px 13px rgba( 0, 0, 0, .4);
}

section#img-01{
    background: url('recursos/Img/trator.jpg') center bottom fixed;
    background-size: cover;
}

section#img-02{
    background: url('recursos/Img/pasto.jpg') center center fixed;
    background-size: cover;
}


section:not(.folha) p{
    padding-right: 12%;
    background-color: var(--cor-tela);
    color: white;
    display: inline-block;
    text-shadow: 1px 1px black;
}