



:root{
    --cor-00: #000000;
    --cor-00: #000000;
    --cor-00: #000000;
    --cor-00: #000000;

}




*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
}


html, body{
    min-height: 100vh;
}


header, footer{
    padding: 20px 80px;
}



header{
    background: linear-gradient(to bottom, var(--cor-00), var(--cor-00));
    color: white;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header p{
    padding: 5px 0 50px 0;
}

header a{
    color: var();
}

header a:hover{
    color: var();
    text-decoration: underline;
}


section{
    line-height: 2em;
    padding: 6vh 60px;
}

p{
    padding: 20px;
}

section.folha{
    background-color: aliceblue;
    color: var();

}


section:not(.folha){
}

section:not(.folha) > p{
    background-color: aliceblue;
    display: inline-block;
}
